<!DOCTYPE html>
<html  ng-app="myapp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <title>IETP Mobile</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <link rel="stylesheet"  href="jqm/jquery.mobile-1.4.0.css">
    <link rel="stylesheet"  href="jqm/jqm-demos.css">
    <!--<link rel="stylesheet"  href="css/jquery/jquery.mobile.actionsheet.css">-->
    <script src="angular/angular.js"></script>
    <script src="angular/angular-sanitize.js"> </script>
        <script src="jqm/jquery-2.0.3.js"></script>

    <script src="jqm/jquery.mobile-1.4.0.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="cordova_plugins.js"></script>
    <!--<script src="pdfviewer/pdf.compat.js"></script>-->
    <script type="text/javascript" src="pdfviewer/pdf.js"></script>
    <!--<script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>-->
    <script src="pdfviewer/ng-pdfviewer.js"></script>
    <!--<script src="js/jquery/jquery.mobile.actionsheet.js"></script>-->
    <!--<script src="js/index.js"></script>-->
    <script src="controller/main.js"></script>

    <script id="panel-init">
        $(function() {
            $( "body>[data-role='panel']" ).panel();
            $( "[data-role='header'], [data-role='footer']" ).toolbar();
        });
    </script>
</head>
<body ng-controller="bodycontroller">
<div class="ui-header ui-bar-a" role="banner" data-role="header" data-position="fixed" data-theme="a">
    <a href="#leftpanel" id="menu" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
    <h1 aria-level="1" role="heading" class="ui-title">IETP Mobile</h1>
    <a href="#" id="status" class="ui-btn ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-right">{{status}}</a>
</div><!-- /header -->

<div data-role="page" id="home">
    <div data-role="content" >
        <div id="branding">
            <!--h1>IETP Mobile </h1-->
        </div>
        <div id="manual_list" class="ui-grid-a">
            <div class="ui-block-a">
                <ul class="jqm-list ui-alt-icon ui-nodisc-icon ui-listview" data-role='listview' data-inset='true'>
                    <li ng-repeat="fleet in fleets" data-icon="home" ng-click="toggleManuals(fleet.title)"><a class="ui-btn ui-btn-icon-right ui-icon-home" href="#home" data-ajax='false'>{{fleet.title}}</a></li>
                </ul>
            </div>
            <div class="ui-block-b">
                <ul class="jqm-list ui-alt-icon ui-nodisc-icon ui-listview" data-role='listview' data-inset='true'>
                    <li ng-repeat="manual in manuals"  data-icon="ui-icon-arrow-r" ng-click="openManual(manual.title)"><a class="ui-btn ui-btn-icon-right ui-icon-arrow-r"   href="#{{manual.title}}" data-ajax='false'>{{manual.title}}</a></li>
                </ul>
            </div>
        </div>
        <div><button id="downloadBtn" class="ui-btn" ng-click="download()">Download Files</button> </div>

    </div>
</div>



<div data-role="page" id="HTML">
    <div data-role="content">
        <div  style='overflow:auto;z-index:10' id="trustedHtml" ng-bind-html="trustedHtml">
        </div>
    </div>
</div> <!-- /HTML Page -->

<div data-role="page" id="PDF">
    <div data-role="content" ng-controller="TestController"  >
      <div  class="ui-grid-a">
        <div class="ui-block-a">
              <button id="prepage" ng-click="prevPage()">&lt;</button>
            </div>
        <div class="ui-block-b">
              <button id="nextpage" ng-click="nextPage()">&gt;</button>
        </div>
      </div>
        <div width="100%" class="outerCenter">
            <pdfviewer src="{{pdfURL}}" on-page-load='pageLoaded(page,total)' id="viewer" load-progress='loadProgress(loaded, total, state)'></pdfviewer>
        </div>
    </div>
</div> <!-- /PDF Page -->

<div data-role="page" id="XML">

    <div data-role="content"  >
        <div  style='overflow:auto;z-index:10' id="trustedXmlHtml" ng-bind-html="trustedXmlHtml">
        </div>
    </div>
</div> <!-- /XML Page -->


<div data-role="panel" id="leftpanel" data-position="left" data-display="overlay" data-position-fixed="true" class="jqm-navmenu-panel ui-panel ui-panel-position-left ui-panel-display-overlay ui-panel-closed ui-body-a ui-panel-animate" data-theme="a">
    <div class="ui-panel-inner">
        <ul class="jqm-list ui-alt-icon ui-nodisc-icon ui-listview" id="leftpanelul">
            <li data-icon="ui-icon-arrow-r"><a class="ui-btn ui-btn-icon-right ui-icon-home" href="#home" data-ajax='true'>HOME</a></li>
            <li ng-repeat="page in pages" data-icon="ui-icon-arrow-r"><a class="ui-btn ui-btn-icon-right ui-icon-home" href="#{{page.title}}" data-ajax='true'>{{page.title}}</a></li>
        </ul>
    </div>
</div><!-- /leftpanel -->

<div class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-closed" data-role="panel" id="leftpanel3" data-position="left" data-display="overlay" data-theme="a">

    <div class="ui-panel-inner"><h3>Left Panel: Overlay</h3><p>This panel is positioned on the left with the overlay display mode. The panel markup is <em>after</em> the header, content and footer in the source order.</p><p>To close, click off the panel, swipe left or right, hit the Esc key, or use the button below:</p><a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close panel</a></div>
</div><!-- /leftpanel3 -->
<div class="ui-loader ui-corner-all ui-body-a ui-loader-default" id="loading">
    <span class="ui-icon-loading"></span>
    <h1>loading</h1>
</div>


</body>
</html>